<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>my fav fruits</h1>
    <% fruits.forEach(fruit => { %>
        <!-- looping through the fruits array for every element. The below will appear 3 times because there are 3 elements in the array -->
        <h1>fav fruit: <%= fruit %></h1>
    <% }) %>

</body>
</html>